#benefit {
    background-image: linear-gradient(to bottom, #1b9aaa 0%, #1b9aaa 61%, #f2f8f0 92%);
    background-color: #1b9aaa;
}

.bar {
    position: relative;

    &::before {
        content         : "";
        bottom          : 0;
        position        : absolute;
        background-color: var(--red);
    }
}

.left-bar {
    &::before {
        height: 100%;
        left  : 0;
        bottom: 0;
        width : 3px;
    }
}

.right-bar {
    &::before {
        width : 17%;
        right : 0;
        height: 3px;
    }
}

.benefit-card-bg {
    cursor: pointer;
    &::before {
        opacity      : 0.5;
        border-radius: 10px;
        position     : absolute;
        z-index      : -1;
        inset        : 0;
        content      : "";
        width        : 99%;
        height       : 100%;
        transform    : translateX(0.5%);
        transition: 0.4s ease-in-out;
    }

    &:hover {
        &::before {
            opacity      : 1;
        }

    }
}

.benefit-card-bg-red {
    &::before {
        background-image: linear-gradient(to bottom, rgba(33, 1, 36, 0) 0%, rgba(33, 1, 36, 0.47) 64%, #210124 100%);
    }
}

.benefit-card-bg-green {
    &::before {
        background-image: linear-gradient(to bottom, rgba(10, 36, 1, 0) 0%, rgba(1, 36, 7, 0.47) 64%, #0b3c49 100%);
    }
}