#footer {
    #socialmedia {
        background-color: var(--main);
    }

    #copyright {
        background-color: var(--blue);
    }
}

.svg-link {
    >path{
        fill: white;
        transition: 0.4s ease-in-out;
    }
    &:hover>path {
        fill: var(--blue);
    }
}
