@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Yantramanav:wght@300;400;500;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}
html{
  --main: #0b3c49;
  --blue: #2fa3b0;
  --red: #b33951;
  --mauve: #210124;
}
body {
  background-color: #f2f8f0;
  font-family     : 'Exo', sans-serif;
}


.exo {
  font-family: 'Exo', sans-serif;
}

.yantramanav {
  font-family: 'Yantramanav', sans-serif;
}

.button-gda {
  height          : fit-content;
  width           : fit-content;
  border-radius   : 8px;
  background-color: var(--main);
  box-shadow      : 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight     : bold;
  text-align      : center;
  color           : #fff;
  font-family     : 'Exo', sans-serif;
  padding         : 10px 25px;
  cursor          : pointer;
  transition      : 0.4s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }

  a {

    &:hover,
    &:focus,
    &:active {
      color          : #fff;
      text-decoration: none;
    }
  }
}

main>* {
  padding: 1rem;
}